<template>
  <q-page class="row">
    <div class="col-12">
    <Chart
    ></Chart>
    </div>
  </q-page>
</template>

<script lang="ts">
import Chart from 'components/Chart.vue'
import { defineComponent } from '@vue/composition-api'

export default defineComponent({
  name: 'PageIndex',
  components: {
    Chart
  },
  setup () {
    return { }
  }
})
</script>
