<template>
  <div class="column" id="chart-box" style="height: 100%">
    <div id="chart-main" class="col-8">
        <apexchart type="candlestick" height="90%" :options="chartOptions" :series="series"></apexchart>
      </div>
    <div id="chart-navigation" class="col-4">
      <apexchart type="bar" height="90%" :options="navigationChartOptions" :series="navigationSeries"></apexchart>
    </div>
  </div>
</template>

<script lang="ts">
import {
  defineComponent
} from '@vue/composition-api'
import VueApexCharts from 'vue-apexcharts'

export default defineComponent({
  name: 'Chart',
  components: {
    apexchart: VueApexCharts
  },
  setup (props) {
    const series = [{
      data: [
        [1538856000000, [6593.34, 6600, 6582.63, 6600]],
        [1538856900000, [6595.16, 6604.76, 6590.73, 6593.86]],
        [1538857000000, [6595.16, 6604.76, 6590.73, 6593.86]]
      ]
    }]
    const firstDate : number = series[0].data[0][0] as number
    const lastDate : number = series[0].data[series[0].data.length - 1][0] as number
    const navigationSeries = [{
      data: [
        [1538856000000,[6593.34, 6600, 6582.63, 6600]],
        [1538856900000, [6595.16, 6604.76, 6590.73, 6593.86]]
      ]
    }]
    const chartOptions = {
      chart: {
        type: 'candlestick',
        id: 'candles',
        toolbar: {
          autoSelected: 'pan',
          show: false
        },
        zoom: {
          enabled: false
        }
      },
      plotOptions: {
        candlestick: {
          colors: {
            upward: '#3C90EB',
            downward: '#DF7D46'
          }
        }
      },
      xaxis: {
        type: 'datetime'
      }
    }

    const navigationChartOptions = {
      chart: {
        type: 'candlestick',
        brush: {
          enabled: true,
          target: 'candles'
        },
        selection: {
          enabled: true,
          xaxis: {
            min: firstDate,
            max: lastDate
          },
          fill: {
            color: '#ccc',
            opacity: 0.4
          },
          stroke: {
            color: '#0D47A1'
          }
        }
      },
      dataLabels: {
        enabled: false
      },
      plotOptions: {
        candlestick: {
          colors: {
            upward: '#3C90EB',
            downward: '#DF7D46'
          }
        }
      },
      xaxis: {
        type: 'datetime'
      },
      yaxis: {
        labels: {
          show: false
        }
      }
    }
    return { series, navigationSeries, chartOptions, navigationChartOptions }
  }
})
</script>

<style lang="scss">
</style>
